[Unit]
Description=Set stable Wi-Fi MAC address for %I
DefaultDependencies=no
After=systemd-udevd.service
Before=NetworkManager.service network-pre.target
Wants=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/set-stable-wifi-mac.py %I
RemainAfterExit=yes
TimeoutStartSec=30
